<div id="footer">
	<div class="utility">
	<span>© 2011 timepaw.com, all rights reserved </span>
	<a target="_blank" href="http://blog.timepaw.com">官方博客</a>  <span>|</span>
	<a target="_blank" href="http://blog.timepaw.com/help/">使用帮助</a><span>|</span>
	<a target="_blank" href="http://blog.timepaw.com/feedback/" title="Feedback">意见反馈</a>  <span>|</span>
	<a target="_blank" href="http://blog.timepaw.com/user_term/">使用条款</a>  <span>|</span>
	<a target="_blank" href="http://blog.timepaw.com/privacy/">隐私声明</a>
</div>