		<div class="top-bar-logged-in user-is-logged-in" style="display: block; ">
			<div class="top-bar-section top-bar-btn">
				<a id="tb-dashboard" href="/home#latest"><img style="border:none;" src="http://www.gravatar.com/avatar/{{gravatar}}?s=80&d=http%3A%2F%2Fwww.timepaw.com%2Fstatic%2Ftimepaw%2Fimages%2Favatar.png" alt="topBarAvatar" width="23" height="23" /><span class="for-m-1024">我的时光机</span></a>
			</div>
			
			<div class="top-bar-section top-bar-btn">
				<a id="tb-dashboard" href="/dairy"><img style="border:none;" src="{{ STATIC_URL }}timepaw/img/topBar/dairy.png" alt="" width="23" height="23" alt="日记本" /><span class="for-m-1024">我的日记本</span></a>
			</div>
			
			<div class="top-bar-section top-bar-btn">
				<a id="tb-dashboard" href="/datasources/"><img style="border:none;" src="{{ STATIC_URL }}timepaw/img/topBar/settings.png" alt="" width="23" height="23" alt="日记本" /><span class="for-m-1024">时光机设置</span></a>
			</div>
						
			<div class="top-bar-section top-bar-btn" style="float:right;">
				<a id="tb-dashboard" href="/logout" title="登出TimePaw" style="padding:0 12px 0 32px;"><img style="border:none; background:none; left:12px;" src="{{ STATIC_URL }}timepaw/img/topBar/logout.png" alt="登出TimePaw" width="23" height="23" /></a>
			</div>
			
		</div>
		
			
		<div class="top-bar-section" id="tb-search">
                        
			        <input type="input" id="search-input" />
                        
			<a id="close-search-btn">exit search</a>
		</div>
