		<div class="top-bar-logged-in user-is-logged-in" style="display: block; ">
			<div class="top-bar-section top-bar-btn">
				<a id="tb-dashboard" href="/home#latest"><img src="http://www.gravatar.com/avatar/{{gravatar}}?s=80" alt="topBarAvatar" width="20" height="20" /><span class="for-m-1024">我的时光机</span></a>
			</div>
			
			<div class="top-bar-section top-bar-btn">
				<a id="tb-dashboard" style="padding-left:15px;" href="/datasources/"><span class="for-m-1024">时光机设置</span></a>
			</div>
						
			<div class="top-bar-section top-bar-btn" style="float:right;">
				<a id="tb-dashboard" href="/logout" title="登出TimePaw" style="padding:0 12px 0 32px;"><img style="border:none; background:none; left:12px;" src="{{ STATIC_URL }}timepaw/img/topBar/logout.png" alt="登出TimePaw" width="23" height="23" /></a>
			</div>
			<div class="top-bar-section top-bar-btn" style="float:right;">
				<a id="tb-dashboard" href="/sync" title="同步数据" style="padding:0 12px 0 32px;"><img style="border:none; background:none; left:12px;" src="{{ STATIC_URL }}timepaw/img/topBar/sync.png" alt="" width="23" height="23" /></a>
			</div>
		</div>
		
		<div class="top-bar-signup user-is-not-logged-in">
			<h2>Want to see, search & share you life?</h2>
			<a class="btn-green" href="signup"><span>Sign Up</span></a>
		</div>
		
		<div class="top-bar-section" id="tb-search">
                        
			        <input type="input" id="search-input" />
                        
			<a id="close-search-btn">exit search</a>
		</div>
